@charset "UTF-8";

a {
	text-decoration: none;
	color: red;
	
}

a:hover {
	background: blue;
	text-decoration: none;
	color: red;
	
}

#total {
	width: 900px;
	height: 900px;
	background: lime;
	
}

#top {
	width: 800px;
	height: 100px;
	background: aqua;
	
}

#top2 {
	width: 300px;
	height: 100px;
	background: silver;
	
}

#top3 {
	width: 700px;
	height: 700px;
	background: url('../img/yayaya.jpeg');
	
}

li {
	list-style: none;
	float: left;
	background: green;
	padding: 10px;
	margin: 15px;
	
}

li:nth-child(2n + 1) {
	background: yellow;
}

li:hover {
	list-style: none;
	float: left;
	background: green;
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
}