@charset "UTF-8";

a{
	text-decoration: none;
	
}

a:hover {
	text-decoration: none;
	
}

ul {
	text-align: center;
	padding-top: 20px;

}

li {
	list-style: none;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	padding-right: 70px;

}

#total {
	width: 600px;
	height: 60px;
	margin: auto;
	background: pink; /* 검색창 색깔 흰색 추천 */
	border-radius: 100px;

}

#top {
	width: 600px;
	height: 60px;
	margin: auto;
}

#btn {
	border-radius: 100px;
	position: absolute;
	cursor: pointer;
}

#btn1 {
	border-radius: 100px;
	position: absolute;
	top : 35px;
	
}